@model List<GameLogic.Game.Map>
@{
    ViewBag.Title = "All";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.0.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/game.js"></script>
<ul>
</ul>
<script>
    var gameHub;
    var mapHub;
    var markethub;
    $(function () {
        mapHub = $.connection.mapHub;
        mapHub.client.updateQueue = function (eventArgs) {
            $('#userQueue').html(eventArgs.toString());
        };

        mapHub.client.gameStart = function (eventArgs) {
            var fields = $.get('Map/' + eventArgs);
            alert(JSON.parse(fields));
            DrawField(JSON.parse(fields));
        };

        $('#displayname').focus();
        // Start the connection.
        $.connection.hub.start().done(function () {
            $('#search').click(function () {
                mapHub.server.searchGame($('#displayname').val());
            });
        });
    });
    // This optional function html-encodes messages for display in the page.
    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    }

    function toQueue() {
    }
</script>
<h1 id="userQueue"></h1>
<input type="text" id="displayname" />
<button id="search">search</button>
<div id="canvas" style="position:relative;width:100%;height:700px;">
</div>
@{Html.RenderAction("MarketPartial");}