@{
    ViewBag.Title = "Игра";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.0.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/game.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script>
    var gameHub;
    var mapHub;
    var markethub;
    var userId = -1;
    var userMove;
    var userName;
    var isInQueue = false;
    var token;
    var global_data;
    var currentUser;
    $(function () {
        mapHub = $.connection.mapHub;

        mapHub.client.updateState = function (data) {
            console.log("update state");
            userMove = data;
            GetCitiesAdnRoads();
            GetPartials();
            NeedThrowDice();
            PassMoveAvaible();
        };

        mapHub.client.throwenDice = throwenDice;

        mapHub.client.updateQueue = function (eventArgs) {
            console.log("update queue");
            if (!isInQueue) {
                userId = eventArgs.playerCount - 1;
                isInQueue = true;
                currentUser = eventArgs.player;
            }
            $('#userQueue').html("Начат поиск игры вы " + (userId + 1) + "-й в очереди");
        };

        mapHub.client.gameStart = function (eventArgs) {
            console.log("start game");
            $('#preGameState').hide();

            if (!isInQueue) {
                userId = eventArgs.playerCount - 1;
                currentUser = eventArgs.player;
                isInQueue = true;
            }
            token = eventArgs.token;
            $('#UserName').html(userName);
            $('#UserColor').html(userId);
            $('#tokenGame').html(token);

            $.getJSON('/Game/Map?token=' + token, function (data) {
                DrawField(data);

                $.getJSON('/Game/MapState?token=' + token, function (data1) {
                    DrawTowns(data1.Cities);
                    DrawRoads(data1.Roads);
                    $.getJSON('/Game/AvailableMap?playerId=' + userId + '&token=' + token, function (data2) {
                        global_data = data2;
                        console.log('/Game/AvailableMap?playerId=' + userId + '&token=' + token);
                        DrawTowns(data2.Cities, true);
                        DrawRoads(data2.Roads, true);
                    });
                });
            });
            GetPartials();
        };

        $('#displayname').focus();
        // Start the connection.
        $.connection.hub.start().done(function () {
            $('#search').click(function () {
                userName = $('#displayname').val();
                mapHub.server.searchGame($('#displayname').val());
                $('#creatingGame').hide();
                $('#userQueue').html("Начат поиск игры");
            });
        });
        $('#throwDiceBtn').click(function () {
            $.get('/Game/ThrowDice?playerId=' + userId + '&token=' + token, function (data) {
                console.log('/Game/ThrowDice?playerId=' + userId + '&token=' + token);
                $('#throwDiceResult').html(data);
                $('#throwDiceCloseBtn').show();
            });
        });
        $('#passMove').hide()
        $('#passMove').click(PassMove);
    });
    // This optional function html-encodes messages for display in the page.
    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    }

    function toQueue() {
    }

    function NeedThrowDice() {
        console.log('NeedThrowDice');
        if (currentUser.PlayerId == userMove.PlayerId) {
            $('#throwDiceResult').html('Ваш ход, бросьте кубики')
            $('#throwDiceModal').modal('show')
            $('#throwDiceCloseBtn').hide()
            $('#throwDiceBtn').show()
        } else {
            $('#throwDiceResult').html('Ход ' + userMove.PlayerName + ' , ждите пока он бросит кубики')
            $('#throwDiceModal').modal('show')
            $('#throwDiceCloseBtn').hide()
            $('#throwDiceBtn').hide()
        }
    }

    function PassMoveAvaible() {
        console.log('PassMoveAvaible');
        if (currentUser.PlayerId == userMove.PlayerId) {
            $('#passMove').show()
        } else {
            $('#passMove').hide()
        }
    }

    function PassMove() {
        console.log('PassMove');
        if (currentUser.PlayerId == userMove.PlayerId) {
            $('#passMove').show();
            $.post(
                    "/Game/PassMove",
                    {
                        token: token,
                        playerId: userId
                    });
        }
    }

    function throwenDice(data) {
        console.log('throwenDice', data);
        if (currentUser.PlayerId == userMove.PlayerId) {
            $('#throwDiceResult').html('Вам выпало ' + data.First + ' и ' + data.Second)
        } else {
            $('#throwDiceResult').html(userMove.PlayerName + ' выпало ' + data.First + ' и ' + data.Second)
        }
        $('#throwDiceCloseBtn').show()
        $('#throwDiceBtn').hide()
        GetPartials()
    }

    function GetPartials() {
        $.get('/Game/GameStatePartial?playerId=' + userId + '&token=' + token, function (data) {
            console.log('/Game/GameStatePartial?playerId=' + userId + '&token=' + token);
            $('#gameState').html(data);
        });
        $.get('/Game/MarketPartial?playerId=' + userId + '&token=' + token, function (data) {
            console.log('/Game/MarketPartial?playerId=' + userId + '&token=' + token);
            $('#gameMarket').html(data);
        });
    }
</script>

<div style="width: 100%">
    <div style="position:relative;width:70%;height:700px; float: left">
        <div id="canvas" style="position:relative;width:100%;height:700px;">
        </div>
    </div>
    <div style="position: relative; width: 29%; float: right">
        <div id="preGameState">
            <h1 id="userQueue">Начать искать игру</h1>
            <div id="creatingGame">
                <input type="text" id="displayname" value="введите имя..." />
                <button id="search">Найти игру</button>
            </div>
            <p id="tokenGame"></p>
            <table class="table" style="width: 200px; height: 100px;">
                <tbody>
                    <tr id="UserName"></tr>
                    <tr id="UserColor"></tr>
                </tbody>
            </table>
        </div>
        <div id="passMove" class="btn btn-danger">
            Пропустить ход
        </div>
        <div id="gameState">
        </div>
        <div id="gameMarket">
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="throwDiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Бросок кубика</h4>
            </div>
            <div class="modal-body">
                <h1 id="throwDiceResult"></h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="throwDiceCloseBtn">Закрыть</button>

                <button type="button" class="btn btn-primary" id="throwDiceBtn">Бросить кубик</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->