@{
    ViewBag.Title = "Игра";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.0.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/game.js"></script>
<ul></ul>
<script>
    var gameHub;
    var mapHub;
    var markethub;
    var userId = -1;
    var userMove;
    var userName;
    var isInQueue = false;
    var token;
    var global_data;
    var currentUser;
    $(function () {
        mapHub = $.connection.mapHub;
        mapHub.client.updateQueue = function (eventArgs) {
            console.log("update queue");
            if (!isInQueue) {
                userId = eventArgs.playerCount - 1;
                isInQueue = true;
                currentUser = eventArgs.player;
            }
            $('#userQueue').html("Начат поиск игры вы " + (userId +1) + "-й в очереди");
        };

        mapHub.client.updateState = function (data) {
            console.log("update state");
            userMove = data;
            GetCitiesAdnRoads();
            $.get('/Game/GameStatePartial?playerId=' + userId + '&token=' + token, function (data) {
                console.log('/Game/GameStatePartial?playerId=' + userId + '&token=' + token);
                $('#gameState').html(data);
            });
            $.get('/Game/MarketPartial?playerId=' + userId + '&token=' + token, function (data) {
                console.log('/Game/MarketPartial?playerId=' + userId + '&token=' + token);
                $('#gameMarket').html(data);
            });
        };

        mapHub.client.gameStart = function (eventArgs) {
            console.log("start game");
            $('#preGameState').hide();

            if (!isInQueue) {
                userId = eventArgs.playerCount - 1;
                currentUser = eventArgs.player;
                isInQueue = true;
            }
            token = eventArgs.token;
            $('#UserName').html(userName);
            $('#UserColor').html(userId);
            $('#tokenGame').html(token);

            $.getJSON('/Game/Map?token=' + token, function (data) {
                DrawField(data);

                $.getJSON('/Game/MapState?token=' + token, function (data1) {
                    DrawTowns(data1.Cities);
                    DrawRoads(data1.Roads);
                    $.getJSON('/Game/AvailableMap?playerId=' + userId + '&token=' + token, function (data2) {
                        global_data = data2;
                        console.log('/Game/AvailableMap?playerId=' + userId + '&token=' + token);
                        DrawTowns(data2.Cities, true);
                        DrawRoads(data2.Roads, true);
                    });
                });
            });
            $.get('/Game/GameStatePartial?playerId=' + userId + '&token=' + token, function (data) {
                console.log('/Game/GameStatePartial?playerId=' + userId + '&token=' + token);
                $('#gameState').html(data);
            });
            $.get('/Game/MarketPartial?playerId=' + userId + '&token=' + token, function (data) {
                console.log('/Game/MarketPartial?playerId=' + userId + '&token=' + token);
                $('#gameMarket').html(data);
            });
        };

        $('#displayname').focus();
        // Start the connection.
        $.connection.hub.start().done(function () {
            $('#search').click(function () {
                userName = $('#displayname').val();
                mapHub.server.searchGame($('#displayname').val());
                $('#creatingGame').hide();
                $('#userQueue').html("Начат поиск игры");
            });
        });
    });
    // This optional function html-encodes messages for display in the page.
    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    }

    function toQueue() {
    }
</script>

<div style="width: 100%">
    <div style="position:relative;width:70%;height:700px; float: left">
        <div id="canvas" style="position:relative;width:100%;height:700px;">
        </div>
    </div>
    <div style="position: relative; width: 29%; float: right">
        <div id="preGameState">
            <h1 id="userQueue">Начать искать игру</h1>
            <div id="creatingGame">
                <input type="text" id="displayname" value="введите имя..." />
                <button id="search">Найти игру</button>
            </div>
            <p id="tokenGame"></p>
            <table class="table" style="width: 200px; height: 100px;">
                <tbody>
                    <tr id="UserName"></tr>
                    <tr id="UserColor"></tr>
                </tbody>
            </table>
        </div>
        <div id="gameState">
        </div>
        <div id="gameMarket">
        </div>
    </div>
</div>