@model List<GameLogic.Game.Map>
@{
    ViewBag.Title = "All";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.0.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/game.js"></script>
<ul>
</ul>
<script>
    var gameHub;
    var mapHub;
    var markethub;
    var userId = -1;
    $(function () {
        mapHub = $.connection.mapHub;
        mapHub.client.updateQueue = function (eventArgs) {
            if (userId < 0) {
                userId = eventArgs -1;
            }
            $('#userQueue').html(userId.toString());
        };

        mapHub.client.gameStart = function (eventArgs) {
            $('#userQueue').html(eventArgs.toString());
            $.getJSON('/Game/Map?token=' + eventArgs.toString(), function (data) {
                DrawField(data);

                $.getJSON('/Game/MapState?token=' + eventArgs.toString(), function (data1) {
                    DrawTowns(data1.Cities);
                    DrawRoads(data1.Roads);
                    $.getJSON('/Game/AvailableMap?playerId=1', function (data2) {
                        DrawTowns(data2.Cities, true);
                        DrawRoads(data2.Roads, true);
                    });

                });
            });
        };

        $('#displayname').focus();
        // Start the connection.
        $.connection.hub.start().done(function () {
            $('#search').click(function () {
                mapHub.server.searchGame($('#displayname').val());
            });
        });
    });
    // This optional function html-encodes messages for display in the page.
    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    }

    function toQueue() {
    }
</script>
<h1 id="userQueue"></h1>
<input type="text" id="displayname" />
<button id="search">search</button>
<div id="canvas" style="position:relative;width:100%;height:700px;">
</div>
@{Html.RenderAction("MarketPartial");}