@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="canvas" style="position:relative;width:100%;height:700px;">



</div>

<script src="~/Scripts/game.js"></script>


<script>
    $.getJSON('/Game/Map', function(data) {
        DrawField(data);

        $.getJSON('/Game/MapState', function(data1) {
            DrawTowns(data1.Cities);
            DrawRoads(data1.Roads);
        });
    });

</script>