@{
    ViewBag.Title = "Index";
}


<div id="canvas" style="position:relative;width:100%;height:700px;">



</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.0.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/game.js"></script>

<script>
    
    var gameHub;
    var mapHub;
    var markethub;
    $(function () {
        mapHub = $.connection.mapHub;
        mapHub.client.updateQueue = function (eventArgs) {
            $('#userQueue').html(eventArgs.toString());
        };

        mapHub.client.gameStart = function (eventArgs) {
            $('#userQueue').html(eventArgs.toString());
        };

        $('#displayname').focus();
        // Start the connection.
        $.connection.hub.start().done(function () {
            $('#search').click(function () {
                mapHub.server.searchGame($('#displayname').val());
            });
        });
    });
    // This optional function html-encodes messages for display in the page.
    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    }

    function toQueue() {
    }

    $.getJSON('/Game/Game', function(data) {
        DrawField(data);

        $.getJSON('/Game/GameState', function(data1) {
            DrawTowns(data1.Cities);
            DrawRoads(data1.Roads);
            $.getJSON('/Game/AvailableGame?playerId=1', function (data2) {
                DrawTowns(data2.Cities, true);
                DrawRoads(data2.Roads, true);
            });

        });
    });

</script>